<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details_page.css')}}">
    <title>Patient_info</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
    <style type="text/css">
        body {
     background-image: url('/static/images/image2.png');
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-size: 100% 100%;
    }
    </style>
</head>

<body>
    <br><br>
    <h1>Patient Details :</h1>
    <br>
    <div class="heading">
</div>
    <div class="outer-wrapper">
    <div class="table-wrapper">
    <table id="patient-table">
        <thead>
            <th col-index = 1>Patient_Id</th>
            <br>
            <th col-index = 2>Gender</th>
            <th col-index = 3>marital_status</th>
            <th col-index = 4>ethnicity</th>
            <th col-index = 5>religion</th>
            <th data-orderable="false" col-index = 6>Department<br>
                <select class="table-filter" onchange="filter_rows()">
                <option value="all">All</option>
                </select></th>
            <th data-orderable="false" col-index = 7>Body_structure<br>
                <select class="table-filter" onchange="filter_rows()">
                <option value="all">All</option>
                </select></th>
            <th data-orderable="false" col-index = 8>disease<br>
                <select class="table-filter" onchange="filter_rows()">
                <option value="all">All</option>
                </select></th>
            <th col-index = 9>expired</th>
            
        </thead>
        <tbody>
            {%for d in data%}
            <tr>
                <td>{{d[0]}}</td>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[3]}}</td>
                <td>{{d[4]}}</td>
                <td>{{d[7]}}</td>
                <td>{{d[6]}}</td>
                <td>{{d[5]}}</td>
                <td>{{d[8]}}</td>
            </tr>
            {% endfor%}

        </tbody>
    </table>
</div>
</div>
<script>
        window.onload = () => {
            console.log(document.querySelector("#patient-table > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
        };

        getUniqueValuesofColumn()



function getUniqueValuesofColumn() {

    var col_values_dict = {}

    allFilters = document.querySelectorAll(".table-filter")
    allFilters.forEach((filter_i) => {
        col_index = filter_i.parentElement.getAttribute("col-index");
        const rows = document.querySelectorAll("#patient-table > tbody > tr")
        rows.forEach((row) => {
            cell_value = row.querySelector("td:nth-child("+col_index+")").innerHTML;
            if (col_index in col_values_dict) {
                if (col_values_dict[col_index].includes(cell_value)) {

                } else {
                    col_values_dict[col_index].push(cell_value)

                }


            } else {
                col_values_dict[col_index] = new Array(cell_value)
            }
        });
        
    });
    updateSelectOptions(col_values_dict)

};

function updateSelectOptions(col_values_dict) {
    allFilters = document.querySelectorAll(".table-filter")

    allFilters.forEach((filter_i) => {
        col_index = filter_i.parentElement.getAttribute('col-index')

        col_values_dict[col_index].forEach((i) => {
            filter_i.innerHTML = filter_i.innerHTML + `\n<option value="${i}">${i}</option>`
        });

    });
};


function filter_rows() {
    allFilters = document.querySelectorAll(".table-filter")
    var filter_value_dict = {}

    allFilters.forEach((filter_i) => {
        col_index = filter_i.parentElement.getAttribute('col-index')

        value = filter_i.value
        if (value != "all") {
            filter_value_dict[col_index] = value;
        }
    });

    var col_cell_value_dict = {};

    const rows = document.querySelectorAll("#patient-table tbody tr");
    rows.forEach((row) => {
        var display_row = true;

        allFilters.forEach((filter_i) => {
            col_index = filter_i.parentElement.getAttribute('col-index')
            col_cell_value_dict[col_index] = row.querySelector("td:nth-child(" + col_index+ ")").innerHTML
        })

        for (var col_i in filter_value_dict) {
            filter_value = filter_value_dict[col_i]
            row_cell_value = col_cell_value_dict[col_i]
            
            if (row_cell_value.indexOf(filter_value) == -1 && filter_value != "all") {
                display_row = false;
                break;
            }


        }

        if (display_row == true) {
            row.style.display = "table-row"

        } else {
            row.style.display = "None"

        }


    })
}

</script>
<script type="text/javascript">
    $('#patient-table').DataTable();
 </script>
<br><br>
 <form action = "/end" method = 'post'>
    <center><input type = "submit" value = "Done"></center>
</form>
</body>
</html>