<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Synthetic_data</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1><center>Patient Details</center></h1>
	<p>Patient id : {{p_id}} </p>
	<p> Department : {{dept}}</p>
	<p> Gender : {{gender}} </p>
	<p> Disease : {{Disease}}</p>
	<p>Body Structure: {{body}}</p>
	<p>Expired: {{exp}}</p>

<br><br><br>
<form action = "/end" method = 'post'>
    <center><input type = "submit" value = "Done"></center>
</form>
</body>
</html>